
a{
    text-decoration: none;
    color: black;
}

header{
    background-color: #EAC926;
    margin: auto;
}

section.banner img{
    width: 100%;
}


.right-navbar{
    display: flex;
    flex-direction: row;
}
body{
    font-family: 'Roboto', sans-serif;
}

.cuerpo{
    text-align: center;
}

main{
    background-color: #ebebeb;
}

main div{
    margin: 15px;
}

.barra-icono{
    align-items: flex-start; 
    flex-wrap: wrap;
    justify-content:flex-start;
    display: flex;
    flex-direction: row;
    
    

}

.barra { 
    color:#666;
    background-color:white;
    
    width: 200px;
    padding-left: 5px;
    
    }

.buscar-icono{
    padding: 1px;
    background-color: white;
    margin-left: 5px;
    width: 20px;
}


main div{
    margin: 15px;
}

.intereses{
    display:block;

}

.tarjeta-credito{
    display: block;
    padding: 2px;
    color: blue;
    margin: auto;
    text-align: center;
    max-width: fit-content;
}

.regalo-icono{
    display: block;
    padding: 2px;
    color: blue;
    margin: auto;
    text-align: center;
    max-width: fit-content;
}

.seguridad{
    display: block;
    color: blue;
    padding: 2px;
    margin: auto;
    text-align: center;
    max-width: fit-content;
}




.ultimavisita{
    font-size: 24px;
}

.ofertas{
    font-size: 24px;
}

.precio{
    font-size: 18px;
    
}

.descuento{
    font-size: 16px;
    color:#39b54a;
}

.descripcion{
    font-size: 16px;
}

.cuerpo{
    font-size: 12px;
}

.footer{
    text-align: center;
}
